bucket     = "bucket-darylemb-20260125"
namespace  = "idkw4f4zgz2v"
key        = "cloudflare/terraform.tfstate"
region     = "us-ashburn-1"
tenancy    = "ocid1.tenancy.oc1..aaaaaaaa3gi23m2ydmg7xa46xsae4wa2mmcmkshncwgt7zldhc3eamb3ovzq"
user       = "ocid1.user.oc1..aaaaaaaap7wsfug2hriywx53scpxrgah7g2ekuh2u45s6xnobiunkwpywt4a"
fingerprint = "89:6c:5a:df:21:c7:61:5f:29:97:50:db:5a:1b:19:f0"
